{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Đổi khóa riêng (Private Key)</div>
                <div class="card-body">
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        <div class="form-group mb-3">
                            {{ form.private_key.label(class="form-label fw-bold") }}
                            {{ form.private_key(class="form-control", rows=7) }}
                            {% for error in form.private_key.errors %}
                                <div class="alert alert-danger fade-in">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group mt-4 d-grid gap-2">
                            {{ form.submit(class="btn btn-primary btn-lg") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
